<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="CPS_Motate" appConnect="local" -->
<meta name="ac:route" content="/CPS_Motate">
<!-- New Wappler Page -->
<div class="promo-banner mt-6 text-center">
    <p class="promo-banner-content px-3 px-md-0">
        <span>Get $200–$570 in credit toward an iPhone 14 when you trade in an iPhone 11 or newer.</span><sup>3</sup>
        <a href="#"><span>Shop iPhone</span></a>
    </p>
</div>

<div class="nav-container">
    <nav>
        <ul class="mobile-nav">
            <li>
                <div class="menu-icon-container">
                    <div class="menu-icon">
                        <span class="line-1"></span>
                        <span class="line-2"></span>
                    </div>
                </div>
            </li>

            <li>
                <a href="#" class="link-logo"></a>
            </li>

            <li>
                <a href="" class="link-bag"></a>
            </li>
        </ul>

        <ul class="desktop-nav">
            <li>
                <a href="#" class="link-logo"></a>
            </li>
            <li>
                <a href="#">Store</a>
            </li>
            <li>
                <a href="#">Mac</a>
            </li>
            <li>
                <a href="#">iPad</a>
            </li>
            <li>
                <a href="#">iPhone</a>
            </li>
            <li>
                <a href="#">Watch</a>
            </li>
            <li>
                <a href="#">TV &amp; Home</a>
            </li>
            <li>
                <a href="#">AirPods</a>
            </li>
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#" class="link-search"></a>
            </li>
            <li>
                <a href="#" class="link-bag"></a>
            </li>
        </ul>
    </nav>

    <!-- End of navigation menu items -->

    <div class="search-container hide">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search apple.com">
            </form>
        </div>
        <div class="link-close"></div>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <a href="#">Visiting an Apple Store FAQ</a>
                </li>
                <li>
                    <a href="#">Shop Apple Store Online</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="mobile-search-container">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search apple.com">
            </form>
        </div>
        <span class="cancel-btn">Cancel</span>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <a href="#">Visiting an Apple Store FAQ</a>
                </li>
                <li>
                    <a href="#">Shop Apple Store Online</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>


</div>
<div class="overlay"></div>

<div class="wrapper">
    <div class="container px-md-5 px-sm-4 px-2">
        <!-- Brand Heading Start -->
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-9 px-4 mb-3">
                <h1 class="heading1">
                    <span class="shop-header">Store.</span>
                    <span class="shop-subheader text-color-muted">The best way to buy the products you love.</span>
                </h1>
            </div>
            <div class="col-12 col-xs-12 col-sm-3 px-4 mb-3">
                <div class="row mx-0 mb-3">
                    <div class="col-1 col-sm-2 px-0">
                        <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-chat-specialist-icon-202211_AV2?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1671246216542">
                    </div>
                    <div class="col-11 col-sm-10 help-header">
                        <p class="mb-0">Need shopping help?</p>
                        <a href="#" class="text-decoration-none">
                            <p class="mb-0">Ask a Specialist</p>
                        </a>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-1 col-sm-2 px-0">
                        <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-chat-specialist-icon-202211_AV2?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1671246216542">
                    </div>
                    <div class="col-11 col-sm-10  help-header">
                        <p class="mb-0">Visit an Apple Store</p>
                        <a href="#" class="text-decoration-none">
                            <p class="mb-0">Find one near you &#x3E;</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Heading End -->
        <!-- Product Slider Start -->
        <div class="product-slider">
            <div class="product-box">
                <a href="#">
                    <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-14-16-mac-nav-202301?wid=200&hei=130&fmt=png-alpha&.v=1670959891635" alt="Mac">
                    <p class="">Mac</p>
                </a>
            </div>
        </div>
        <!-- Product Slider End -->
    </div>
</div>