<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<meta name="ac:route" content="/">
<div class="nav-container">
    <nav>
        <ul class="mobile-nav">
            <li>
                <div class="menu-icon-container style5">
                    <div class="menu-icon">
                        <span class="line-1"></span>
                        <span class="line-2"></span>
                    </div>
                </div>
            </li>

            <li>
                <a href="#" class="link-logo"></a>
            </li>

            <li>
                <a href="" class="link-bag"></a>
            </li>
        </ul>

        <ul class="desktop-nav">
            <li>
                <a href="#" class="link-logo"></a>
            </li>
            <li><a href="#">Home</a></li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Categories</a>
            </li>
            <li>
                <a href="#">Custom</a>
            </li>
            <li>
                <a href="#">4 Specialties</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Employment</a>
            </li>
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#" class="link-search"></a>
            </li>
            <li>
                <a href="#" class="link-bag"></a>
            </li>
        </ul>
    </nav>

    <!-- End of navigation menu items -->

    <div class="search-container hide">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search apple.com">
            </form>
        </div>
        <div class="link-close"></div>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <a href="#">Visiting an Apple Store FAQ</a>
                </li>
                <li>
                    <a href="#">Shop Apple Store Online</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="mobile-search-container">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search cps-of-nynj.com">
            </form>
        </div>
        <span class="cancel-btn">Cancel</span>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">CPS FAQ</a></li>
                <li><a href="#">Design Online</a></li>
                <li><a href="#">Categories</a></li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>


</div>
<div class="overlay"></div>
<div class="promo-banner mt-6 text-center">
    <p class="promo-banner-content px-3 px-md-0"><span>Get $100 in credit with a subscription plan every 3 months.</span><sup>3</sup>
        <a href="#"><span>Print with us</span></a>
    </p>
</div>
<div class="wrapper">
    <div class="container px-md-5 px-sm-4 px-2">
        <!-- Brand Heading Start -->
        <div class="row">
            <div class="col-12 col-xs-12 px-4 ps-md-5 mb-3 col-sm-12 col-md-9 col-xxl-8 offset-xxl-1 style7">
                <h1 class="heading1 text-warning"><span class="shop-header">CPS.</span>&nbsp;<font color="#6e6e73">Printing services of New York, New Jersey for creatives.</font>
                </h1>
            </div>
            <div class="col-12 col-xs-12 px-4 mb-3 col-sm-7 offset-xxl-1">
                <div class="row mx-0 mb-3">
                    <div class="col-1 col-sm-2 px-0">
                        <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-chat-specialist-icon-202211_AV2?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1671246216542">
                    </div>
                    <div class="col-11 help-header col-sm-7">
                        <p class="mb-0">Need a quote, fast?</p>
                        <a href="#" class="text-decoration-none">
                            <p class="mb-0">Call a CPS Print Specialist</p>
                        </a>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-1 col-sm-2 px-0">
                        <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-chat-specialist-icon-202211_AV2?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1671246216542">
                    </div>
                    <div class="col-11 col-sm-10  help-header">
                        <p class="mb-0">Designer? Try our CPS web-to-print tool!</p>
                        <a href="#" class="text-decoration-none">
                            <p class="mb-0">Choose a product. Upload your file &gt;</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Heading End -->
    </div>
</div><!-- Product Slider Start -->
<div class="carousel-container">
    <div class="carousel-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true, "groupCells": "80%" }'>
            <!-- data-flickity='{ "freeScroll": true, "groupCells": 6 }' -->
            <div class="carousel-cell">
                <img src="/assets/images/CPS-box-packaging.png">
                <div class="carousel-title">Custom Packaging</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/Booklets.png">
                <div class="carousel-title">Booklets</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/cps-promotional-garments.png">
                <div class="carousel-title">Wearables</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/capital-shield-ad-oh-yeah.png">
                <div class="carousel-title">Signs</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/poster-of-hendrix-being-printed.png">
                <div class="carousel-title">Posters</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/rolls-of-labels.png">
                <div class="carousel-title">Labels</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-for small-carousel-icons400px.png" class="gx-lg-0">
                <div class="carousel-title">Creativity</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-group-of-booklets.png">
                <div class="carousel-title">Bindings</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-yard-signs.png">
                <div class="carousel-title">Yardsigns</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/retractable-standing-posters.png">
                <div class="carousel-title">Retractables</div>
            </div>
        </div>
    </div>
</div>
<!-- Product Slider End -->