<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxAnimateCSS:{}}" -->
<meta name="ac:route" content="/">
<!-- Navbar Start -->
<div class="nav-container">
    <nav>
        <ul class="mobile-nav">
            <li>
                <div class="menu-icon-container">
                    <div class="menu-icon">
                        <span class="line-1"></span>
                        <span class="line-2"></span>
                    </div>
                </div>
            </li>

            <li>
                <a href="#" class="link-logo"></a>
            </li>

            <li>
                <a href="" class="link-bag"></a>
            </li>
        </ul>

        <ul class="desktop-nav">
            <li>
                <a href="/favicon.ico/favicon-16x16.png" class="link-logo"></a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Categories</a>
            </li>
            <li>
                <a href="#">Custom</a>
            </li>
            <li>
                <a href="#">4 Specialties</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Employment</a>
            </li>
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#" class="link-search"></a>
            </li>
            <li>
                <a href="#" class="link-bag"></a>
            </li>
        </ul>
    </nav>
    <!-- End of navigation menu items -->
    <!-- Search Section Starts -->
    <div class="search-container hide">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search CPS.com">
            </form>
        </div>
        <div class="link-close"></div>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <a href="#">CPS FAQ</a>
                </li>
                <li>
                    <a href="#">Shop Apple Store Online</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Search Section Ends -->
    <!-- Mobile View Navbar Starts -->
    <div class="mobile-search-container">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search CPS.com">
            </form>
        </div>
        <span class="cancel-btn">Cancel</span>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <a href="#">Need a quote today? FAQ</a>
                </li>
                <li>
                    <a href="#">Shop Apple Store Online</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Mobile View Navbar Ends -->
</div>
<div class="overlay"></div>
<!-- Navbar End -->
<!-- Section1 (promo-banner) Starts -->
<div class="container-fluid px-0 section1">
    <div class="promo-banner mt-6 text-center">
        <p class="promo-banner-content px-4 px-md-0"><span>Get $100 in cash, or store credit when you refer a family member, or friend, when they become a subscriber.</span><sup>3</sup>
            <a href="#"><span>Print smarter</span></a>
        </p>
    </div>
</div>
<!-- Section1 (promo-banner) Ends -->
<!-- Section2 (heading1) Starts-->
<div class="container pe-0 section2 ps-lg-3">
    <div class="row mx-0">
        <div class="col-12 col-xs-12 col-lg-9 px-0 mb-4 mb-lg-0">
            <h1 class="heading1 text-black-100 text-black-100"><span class="shop-header-black">C</span><span class="shop-header-red">P</span><span class="shop-header-blue">S</span><span class="shop-header-yellow">:&nbsp;<font color="#000">Printing services for New York’s creatives.</font></span></h1>
        </div>
        <div class="col-12 col-xs-12 col-lg-3 px-0 mb-4 mb-lg-0">
            <div class="row mx-0 mb-2">
                <div class="col-1 col-lg-2 px-0">
                    <img width="35" height="35" alt="" src="/assets/images/Screen Shot 2023-03-12 at 2.55.19 PM copy.jpg" style="border-radius:50%">
                </div>
                <div class="col-11 col-md-10 help-header">
                    <p class="mb-0">Need a quote today?</p>
                    <a href="#" class="text-decoration-none">
                        <p class="mb-0">Call a CPS specialist</p>
                    </a>
                </div>
            </div>
            <div class="row mx-0 mb-2">
                <div class="col-1 col-lg-2 px-0">
                    <img width="35" height="35" alt="" src="/assets/images/Screen Shot 2023-03-12 at 2.55.45 PM copy.jpg" style="border-radius: 50%;">
                </div>
                <div class="col-11 col-md-10  help-header">
                    <p class="mb-0">Try our Web-To-Print Tool</p>
                    <a href="#" class="text-decoration-none">
                        <p class="mb-0">Ceate your account here &#x3E;</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section2 (heading1) Ends-->
<!-- Section3 Product Carousel Slider Start -->
<div class="section3">
    <div class="section3-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true }'>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-for small-carousel-icons400px.png">
                <div class="carousel-title">Creativity</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-box-packaging.png">
                <div class="carousel-title">Custom Packaging</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/Booklets.png">
                <div class="carousel-title">Booklets</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/capital-shield-ad-oh-yeah.png">
                <div class="carousel-title">Signs</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/poster-of-hendrix-being-printed.png">
                <div class="carousel-title">Wide format</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/cps-promotional-garments.png">
                <div class="carousel-title">Wearables</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/rolls-of-labels.png">
                <div class="carousel-title">Labels</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-group-of-booklets.png">
                <div class="carousel-title">Books,binding</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-yard-signs.png">
                <div class="carousel-title">Yard Signs</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/retractable-standing-posters.png">
                <div class="carousel-title"></div>
            </div>
        </div>
    </div>
</div>
<!-- Section3 Product Carousel Slider End -->
<!-- Section4 Card ICON Carousel Slider Start -->
<div class="section4">
    <div class="section4-carousel-card-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true, "groupCells":4 }' style="scroll-behavior: smooth;">
            <div class="carousel-cell">
                <h3 class="heading3 fw-bold">Categories</h3>
                <div class="card img-fluid px-3">
                    <div class="row mx-0 pt-3 style4 mb-3">
                        <div class="col-4 pe-2 px-0">
                            <a href="#"><img src="/assets/icons/printer-icon-01.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Wide prints</p>

                        </div>
                        <div class="col-4 px-0 px-1">
                            <a href="#"><img src="/assets/icons/page-icon-01.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Volum</p>
                        </div>
                        <div class="col-4 ps-2 px-0">
                            <a href="#"><img src="/assets/icons/polo-icon-01.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Lorem </p>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3">
                        <div class="col-4 pe-2 px-0">
                            <a href="#"><img src="/assets/icons/t-shirt-icon-01.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Lorem </p>
                        </div>
                        <div class="col-4 px-0 px-1">
                            <a href="#"><img src="/assets/icons/create-an-account-icon-01.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Lorem </p>
                        </div>
                        <div class="col-4 ps-2 px-0">
                            <a href="#"><img src="/assets/icons/sock-icon-01.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Lorem </p>
                        </div>
                    </div>
                    <div class="row mx-0 mb-3">
                        <div class="col-4 pe-2 px-0">
                            <a href="#"><img src="/assets/icons/vest-icon.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Lorem</p>
                        </div>
                        <div class="col-4 px-0 px-1">
                            <a href="#"><img src="/assets/icons/hoodie-icon-01.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Lorem</p>
                        </div>
                        <div class="col-4 ps-2 px-0">
                            <a href="#"><img src="/assets/icons/Mask-icon.svg" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12 card-icons style3"></a>
                            <p class="px-1 card-icon-title d-print-none visually-hidden">Lorem </p>
                        </div>
                    </div>
                    <div class="row mx-0 text-center carousel-indicators mb-2">
                        <div class="col-2 mx-1 line-cps-black"></div>
                        <div class="col-2 mx-1 line-cps-red"></div>
                        <div class="col-2 mx-1 line-cps-blue"></div>
                        <div class="col-2 mx-1 line-cps-yellow"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <h3>Latest</h3>
                <div class="card img-fluid">
                    <video id="video-player1" autoplay="autoplay" muted="" loop="" controls="false" playsinline="true" preload="metadata" class="card-img-top col video-player" src="/assets/videos/Mall-banner.mp4">
                        <source src="/assets/videos/IMG_3565.MOV" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light d-print-none fw-normal visually-hidden">TURN GREAT IDEAS INTO REALITY</p>
                        <h4 class="card-title text-light d-none">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <h3>&nbsp;</h3>
                <div class="card img-fluid">
                    <video id="video-player2" autoplay="autoplay" muted loop controls="false" playsinline="true" preload="metadata" class="card-img-top col video-player" src="/assets/videos/CPS-Perfect-binding.mp4">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-branches-in-the-breeze-1188-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light fw-normal d-print-none visually-hidden">CPS QUALITY SERVICES</p>
                        <h4 class="card-title text-light visually-hidden d-print-none">Operated by creatives</h4>
                        <!-- <p class="card-content-desc text-light">Binding starting at $25ea</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <h3>&nbsp;</h3>
                <div class="card img-fluid">
                    <video id="video-player3" autoplay="autoplay" muted="" loop="" controls="false" playsinline="true" preload="metadata" class="card-img-top col video-player" src="/assets/videos/costas-containers-custom.mp4">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-with-yellow-flowers-1173-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light visually-hidden d-print-none visually-hidden-focusable">CPS MAKES BRANDS BETTER</p>
                        <h4 class="card-title text-light d-none">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <h3>&nbsp;</h3>
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-box-packaging%20211x%20261px.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-muted">CPS BRAND</p>
                        <h4 class="card-title text-light d-print-none visually-hidden">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <h3>&nbsp;</h3>
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-Wearables211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light fw-normal">CPS WEARABLES</p>
                        <h4 class="card-title text-light visually-hidden d-print-none">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <h3>&nbsp;</h3>
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-books211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS BRAND</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section4 Card ICON Carousel Slider End -->
<!-- Section5 Card Carousel Slider Start -->
<div class="section5">
    <div class="container">
        <div class="row mx-0">
            <div class="col-12 col-lg-12 px-0 mb-2">
                <h3 class="heading3"><span class="shop-header">Choose a printing service</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="section5-carousel-card-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true, "groupCells":4  }'>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-box-211x261.png" alt="Card image" style="width:100%;">
                    <div class="card-img-overlay">
                        <p class="card-text text-light visually-hidden d-print-none">CUSTOM MADE FOR YOUR BRAND</p>
                        <p class="card-title text-light visually-hidden d-print-none">Creative community make creat boxes</p>
                        <!-- <p class="card-content-desc text-danger">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid" style="background-color: #f5f5f7; border: 0px solid rgba(0,0,0,.125);">
                    <div class="horizantal-image mb-lg-4 text-center">
                        <img class="" src="/assets/images/CPS-box-packaging%20211x%20261px.png" alt="">
                    </div>
                    <div class="horizantal-image text-center">
                        <img class="" src="/assets/images/CPS-books211x261.png" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video id="video-player4" autoplay="autoplay" muted="" loop="" controls="false" playsinline="true" preload="metadata" class="card-img-top col video-player" src="/assets/videos/Cut-holidaycard.mp4">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-branches-in-the-breeze-1188-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light fw-normal d-print-none visually-hidden">CPS QUALITY SERVICES</p>
                        <h4 class="card-title text-light visually-hidden d-print-none">Operated by creatives</h4>
                        <!-- <p class="card-content-desc text-light">Binding starting at $25ea</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video autoplay="autoplay" muted="" loop="" controls="false" playsinline="true" preload="metadata" class="card-img-top col video-player" src="/assets/videos/Box-complimentsv4.mp4 " id="video-player5">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-with-yellow-flowers-1173-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light fw-normal d-print-none visually-hidden">CPS MAKES BRANDS BETTER</p>
                        <h4 class="card-title text-light visually-hidden d-print-none">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-box-packaging%20211x%20261px.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS BRAND</p>
                        <h4 class="card-title text-light visually-hidden d-print-none">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-Wearables211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light fw-normal">CPS WEARABLES</p>
                        <h4 class="card-title text-light visually-hidden d-print-none">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-books211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-warning">CPS BRAND</p>
                        <h4 class="card-title text-light visually-hidden d-print-none">Creative and Community Woven together</h4>
                        <!-- <p class="card-content-desc text-light">49$</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section5 Card Carousel Slider End -->
<!-- Section6 Testiminials Start -->
<div class="section6" style="overflow: hidden;">
    <div class="container">
        <div class="row mx-0">
            <div class="col-12 col-lg-12 px-0 mb-2">
                <h3 class="heading3"><span class="shop-header">Testimonials</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="section6-testimonial-wrapper">
        <div class="container d-flex">
            <div class="card">
                <div class="box-area style6" id="testimonial4">
                    <div class="img-area">
                        <img src="/assets/images/Screen Shot 2023-03-13 at 1.42.09 PM.jpg" alt="">
                    </div>
                    <p class="content"><i class="fa fa-quote-left" aria-hidden="true" style="color:#ee1458;"></i>
                        Carlos and his team was exactly what we wanted in printing quality and collaboration. We are thrilled with the results.&nbsp;</p>
                    <h5 class="text-center text-muted fw-normal">–Sussan</h5>
                    <!-- <span class="text-center">Designation Goes Here</span> -->
                </div>
                <div class="row mx-0 text-center px-lg-4 carousel-indicators mb-2 visually-hidden d-print-none">
                    <div class="col-2 mx-1 line-cps-black"></div>
                    <div class="col-2 mx-1 line-cps-red"></div>
                    <div class="col-2 mx-1 line-cps-blue"></div>
                    <div class="col-2 mx-1 line-cps-yellow"></div>
                </div>
            </div>
            <div class="card" dmx-animate-enter="slideInRight">
                <div class="box-area box-button" id="testimonial-2">
                    <i class="fa fa-quote-left" aria-hidden="true" style="color: #1d1d1f; top: -40px; position: absolute;"></i>
                    <div class="img-area">
                        <img src="/assets/images/Abiezer.jpg" alt="">
                    </div>
                    <p class="content text-dark style2">Wow! We love our custom boxes!&nbsp; Working with Abi has been fantastic! We look forward to our next project!</p>
                </div>
                <h5 class="text-center mb-0 text-muted fw-normal" style="margin-top: 35px !important;">–Thomas</h5>
                <!-- <span class="text-center mb-3">Designation Goes Here</span> -->
            </div>
            <div class="card">
                <div class="box-area">
                    <div class="img-area">
                        <img src="/assets/images/CPS-for small-carousel-icons400px.png" alt="">
                    </div>
                    <p class="content"><i class="fa fa-quote-left" aria-hidden="true" style="color: #ffe907;"></i>
                        Printing came out great. CPS did a wonderful job. Our clients are happy. We are looking to have CPS as our main printing resource.&nbsp;</p>
                    <h5 class="text-center text-muted fw-normal">–Tim</h5>
                    <!-- <span class="text-center">Designation Goes Here</span> -->
                </div>
            </div>
            <div class="card">
                <div class="box-area box-button" id="testimonial3">
                    <i class="fa fa-quote-left" aria-hidden="true" style="color:#ee1458;top:-40px;position: absolute;"></i>
                    <div class="img-area">
                        <img src="/assets/images/CPS-for small-carousel-icons400px.png" alt="">
                    </div>
                    <p class="content">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since
                    </p>
                </div>
                <h5 class="text-center mb-0 text-muted fw-normal" style="margin-top: 35px !important;">John Doe</h5>
                <!-- <span class="text-center mb-3">Designation Goes Here</span> -->
            </div>
        </div>
    </div>
</div>
<!-- Section6 Testimonials End -->
<!-- Section7 Business Plan Carousel Start -->
<div class="section7">
    <div class="container">
        <div class="row mx-0">
            <div class="col-12 col-lg-12 px-0 mb-2">
                <h3 class="heading3"><span class="shop-header">Subscription plans for freelancers</span></h3>
            </div>
        </div>
    </div>
    <div class="section7-carousel-card-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true }'>
            <div class="carousel-cell style12">
                <div class="card ps-lg-4">
                    <div class="row mx-0">
                        <div class="col-5 col-xs-5 align-self-center">
                            <h5 class="fw-bold">Basic Package</h5>
                            <!-- <p>Virtual Machines</p> -->
                        </div>
                        <div class="col-7 col-xs-7">
                            <img src="/assets/images/poster-of-hendrix-being-printed.png" class="col-12" style="height:100px;">
                        </div>
                    </div>
                    <hr class="mx-3 mt-0" />
                    <div class="row mx-0">
                        <h1><span class="USD">$200</span><span class="month">/<u>month*</u></span></h1>
                        <div class="check-points">
                            <ul>
                                <li>Simple, managed, Droplets</li>
                                <li>Free control plane</li>
                                <li>Scale automatically, high availability</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mx-0 text-center px-lg-4 carousel-indicators mb-2">
                        <div class="col-2 mx-1 line-cps-black"></div>
                        <div class="col-2 mx-1 line-cps-red"></div>
                        <div class="col-2 mx-1 line-cps-blue"></div>
                        <div class="col-2 mx-1 line-cps-yellow"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card ps-lg-4">
                    <div class="row mx-0">
                        <div class="col-5 col-xs-5 align-self-center">
                            <h5>Silver package</h5>
                        </div>
                        <div class="col-7 col-xs-7">
                            <img src="/assets/images/CPS-group-of-booklets.png" class="col-12" style="height:100px;">
                        </div>
                    </div>
                    <hr class="mx-3 mt-0" />
                    <div class="row mx-0">
                        <h1><span class="USD">$500</span><span class="month">/<u>month*</u></span></h1>
                        <div class="check-points">
                            <ul>
                                <li>Simple, managed, Kubernetes</li>
                                <li>Free control plane</li>
                                <li>Scale automatically, high availability</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card ps-lg-4">
                    <div class="row mx-0">
                        <div class="col-5 col-xs-5 align-self-center">
                            <h5>Platinum package</h5>
                        </div>
                        <div class="col-7 col-xs-7">
                            <img src="/assets/images/cps-promotional-garments.png" class="col-12" style="height:100px;">
                        </div>
                    </div>
                    <hr class="mx-3 mt-0" />
                    <div class="row mx-0">
                        <h1><span class="USD">$1000</span><span class="month">/<u>month*</u></span></h1>
                        <div class="check-points">
                            <ul>
                                <li>Simple, managed, Kubernetes</li>
                                <li>Free control plane</li>
                                <li>Scale automatically, high availability. Simple, managed, Kubernetes. Simple, managed, Kubernetes</li>
                                <li>Scale automatically, high availability</li>
                                <li>Scale automatically, high availability</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Section7 Business Plan Carousel End -->
<!-- Section8 Individual Plan Carousel Start -->
<div class="section8">
    <div class="container">
        <div class="row mx-0">
            <div class="col-12 col-lg-12 px-0 mb-2">
                <h3 class="heading3"><span class="shop-header">Subscription plans for businesses</span></h3>
            </div>
        </div>
    </div>
    <div class="section8-carousel-card-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true }'>
            <div class="carousel-cell">
                <div class="card ps-lg-4">
                    <div class="row mx-0">
                        <div class="col-5 col-xs-5 align-self-center">
                            <h5>Basic Business</h5>
                            <!-- <p>Virtual Machines</p> -->
                        </div>
                        <div class="col-7 col-xs-7">
                            <img src="/assets/images/poster-of-hendrix-being-printed.png" class="col-12" style="height:100px;">
                        </div>
                    </div>
                    <hr class="mx-3 mt-0" />
                    <div class="row mx-0">
                        <h1><span class="USD">$3,998</span><span class="month">/<u>month*</u></span></h1>
                        <div class="check-points">
                            <ul>
                                <li>Simple, managed, Droplets</li>
                                <li>Free control plane</li>
                                <li>Free control plane</li>
                                <li>Scale automatically, high availability</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mx-0 text-center px-lg-4 carousel-indicators mb-2">
                        <div class="col-2 mx-1 line-cps-black"></div>
                        <div class="col-2 mx-1 line-cps-red"></div>
                        <div class="col-2 mx-1 line-cps-blue"></div>
                        <div class="col-2 mx-1 line-cps-yellow"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card ps-lg-4">
                    <div class="row mx-0">
                        <div class="col-5 col-xs-5 align-self-center">
                            <h5>Silver Business</h5>
                        </div>
                        <div class="col-7 col-xs-7">
                            <img src="/assets/images/CPS-group-of-booklets.png" class="col-12" style="height:100px;">
                        </div>
                    </div>
                    <hr class="mx-3 mt-0" />
                    <div class="row mx-0">
                        <h1><span class="USD">$4,998</span><span class="month">/<u>month*</u></span></h1>
                        <div class="check-points">
                            <ul>
                                <li>Simple, managed, Kubernetes</li>
                                <li>Free control plane</li>
                                <li>Scale automatically, high availability</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card ps-lg-4">
                    <div class="row mx-0">
                        <div class="col-5 col-xs-5 align-self-center">
                            <h5 class="style7">Custom Corporate</h5>
                            <p class="d-print-none visually-hidden">Call us to discuss</p>
                        </div>
                        <div class="col-7 col-xs-7">
                            <img src="/assets/images/cps-promotional-garments.png" class="col-12" style="height:100px;">
                        </div>
                    </div>
                    <hr class="mx-3 mt-0" />
                    <div class="row mx-0">
                        <h1><span class="USD">$</span><span class="month">/<u>month*</u></span></h1>
                        <div class="check-points">
                            <ul>
                                <li>Simple, managed, Kubernetes</li>
                                <li>Free control plane</li>
                                <li>Scale automatically, high availability. Simple, managed, Kubernetes. Simple, managed, Kubernetes</li>
                                <li>Scale automatically, high availability</li>
                                <li>Scale automatically, high availability</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Section8 Individual Plan Carousel End -->


<!-- Footer Starts Here -->
<div class="section-footer">
    <div class="container px-0 px-md-4">
        <div class="footer-logo w-100 text-center">
            <img src="/assets/images/CPS-for small-carousel-icons400px.png" width="60px" class="mb-3 style11">
            <p class="fw-bold">800-982-3533</p>
        </div>
        <div class="row mx-0 mb-5 row-cols-1">
            <input class="col-12 col-sm-4 col-lg-3 bottom-search style14" type="text" name="search" id="bottom-search" placeholder="Search">
        </div>
        <div class="row mx-0 mb-5 fw-lighter style16 text-white">
            <div class="col-xs-4 col-md-2 px-0 mb-3 offset-sm-1 col-sm-3 col-xxl-2 offset-1 col-5">
                <h5>Home</h5>
                <p class="mb-1 fw-normal">Categories</p>
                <p class="mb-1 fw-normal">Custom lab</p>
                <p class="mb-1 fw-lighter">About us</p>
                <p class="mb-1">Support</p>
                <p class="mb-1">FAQs</p>
            </div>
            <div class="col-xs-4 col-md-2 col-5 offset-1 mb-4 ps-0 pe-0 col-xl-2 col-sm-4">
                <h5 class="w-auto h-auto">Wearables</h5>
                <p class="mb-1">T-shirts</p>
                <p class="mb-1">Caps</p>
                <p class="mb-1">Masks</p>
                <p class="mb-1">Hoodie</p>
                <p class="mb-1">Vests</p>
            </div>
            <div class="col-xs-4 col-md-2 px-0 mb-3 gy-2 col-sm-3 col-xxl-2 offset-xxl-1 offset-xl-1 col-xl-2 offset-lg-1 offset-1 col-5">
                <h5>Printing&nbsp;</h5>
                <p class="mb-1">Leter</p>
                <p class="mb-1">wide</p>
                <p class="mb-1">Posters</p>
                <p class="mb-1">Outdoors</p>
                <p class="mb-1">WaterFoil</p>
                <p class="mb-1">Raised Foil</p>
                <p class="mb-1">Raise spot UV</p>
                <p class="mb-1">Silk</p>
                <p class="mb-1">Soft hand feel</p>
                <p class="mb-1">Political campaign</p>
                <p class="mb-1">Retractables</p>
            </div>
            <div class="col-xs-4 col-md-2 px-0 mb-3 offset-1 col-sm offset-sm-1 col-sm-4 offset-xl-1 col-5">
                <h5>My account</h5>
                <p class="mb-1">View cart</p>
                <p class="mb-1">Quotes</p>
                <p class="mb-1 style13 fw-light lh-1">Design Lab</p>
                <p class="mb-1">Help</p>
                <p class="mb-1">Cancellations</p>
            </div>
            <div class="col-xs-4 col-md-2 px-0 mb-3 col-sm-3 offset-xl-1 offset-lg-1 offset-1 col-5">
                <h5>Legal</h5>
                <p class="mb-1">Return policy</p>
                <p class="mb-1">Shipping policy</p>
                <p class="mb-1">Terms &amp; conditions</p>
                <p class="mb-1">Privacy policy</p>
                <p class="mb-1">New York policy</p>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 px-0 mb-3 col-5 offset-1">
                <h5>Contact</h5>
                <p class="mb-1">Chat</p>
                <p class="mb-1">Contact us</p>
                <p class="mb-1">Request a callback</p>
                <p class="mb-1">Directory and ext</p>
                <p class="mb-1">Philanthropic</p>
            </div>
            <hr />
            <div class="d-md-flex px-0 justify-content-lg-between">
                <h6>Copyright © 2023 CPS. All rights reserved.
                </h6>
                <h6>
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">Sales Policy</a> | <a href="#">Legal</a> | <a href="#">Site Map</a>
                </h6>
            </div>
        </div>
    </div>
</div>
<!-- Footer Ends Here -->
<script>
    document.getElementById('video-player1').controls = false;
    document.getElementById('video-player2').controls = false;
    document.getElementById('video-player3').controls = false;
    document.getElementById('video-player4').controls = false;

    document.getElementById('video-player5').controls = false;

    //document.getElementsByClassName('video-player').controls = false;
</script>