<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<meta name="ac:route" content="/">
<style>
    .line-cps-red {
        height: 5px;
        text-indent: -999px;
        background-color: #3f51b5;
        width: 20% !important;
        background-clip: padding-box;
    }

    .line-cps-black {
        height: 5px;
        text-indent: -999px;
        background-color: #000;
        width: 20% !important;
        background-clip: padding-box;
    }

    .line-cps-blue {
        height: 5px;
        text-indent: -999px;
        background-color: #e13939;
        width: 20% !important;
        background-clip: padding-box;
    }

    .line-cps-yellow {
        height: 5px;
        text-indent: -999px;
        background-color: #ff9800;
        width: 20% !important;
        background-clip: padding-box;
    }
</style>
<div class="nav-container">
    <nav>
        <ul class="mobile-nav">
            <li>
                <div class="menu-icon-container">
                    <div class="menu-icon">
                        <span class="line-1"></span>
                        <span class="line-2"></span>
                    </div>
                </div>
            </li>

            <li>
                <a href="#" class="link-logo"></a>
            </li>

            <li>
                <a href="" class="link-bag"></a>
            </li>
        </ul>

        <ul class="desktop-nav">
            <li>
                <a href="#" class="link-logo"></a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Categories</a>
            </li>
            <li>
                <a href="#">Custom</a>
            </li>
            <li>
                <a href="#">4 Specialties</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Employment</a>
            </li>
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#" class="link-search"></a>
            </li>
            <li>
                <a href="#" class="link-bag"></a>
            </li>
        </ul>
    </nav>

    <!-- End of navigation menu items -->

    <div class="search-container hide">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search CPS.com">
            </form>
        </div>
        <div class="link-close"></div>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <a href="#">CPS FAQ</a>
                </li>
                <li>
                    <a href="#">Shop Apple Store Online</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="mobile-search-container">
        <div class="link-search"></div>
        <div class="search-bar">
            <form action="">
                <input type="text" placeholder="Search CPS.com">
            </form>
        </div>
        <span class="cancel-btn">Cancel</span>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <a href="#">Need a quote today? FAQ</a>
                </li>
                <li>
                    <a href="#">Shop Apple Store Online</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">AirPods</a>
                </li>
                <li>
                    <a href="#">AirTag</a>
                </li>
            </ul>
        </div>
    </div>


</div>
<div class="overlay"></div>
<div class="container-fluid px-0">
    <div class="promo-banner mt-6 text-center">
        <p class="promo-banner-content px-4 px-md-0"><span>Get $100 in cash, or store credit when you refer a family member, or friend, when they become a subscriber.</span><sup>3</sup>
            <a href="#"><span>Print smarter</span></a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row mx-0 wrapper">
        <div class="col-12 col-xs-12 col-lg-9 px-0 mb-3">
            <h1 class="heading1 text-black-100 text-black-100"><span class="shop-header-black">C</span><span class="shop-header-red">P</span><span class="shop-header-blue">S</span><span class="shop-header-yellow">:&nbsp;<font color="#6e6e73">Printing services for
                        New York, New jersey creatives.</font></span></h1>
        </div>
        <div class="col-12 col-xs-12 col-lg-3 px-0 mb-3">
            <div class="row mx-0 mb-3">
                <div class="col-1 col-md-2 px-0">
                    <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-chat-specialist-icon-202211_AV2?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1671246216542">
                </div>
                <div class="col-11 col-md-10 help-header">
                    <p class="mb-0">Need a quote today?</p>
                    <a href="#" class="text-decoration-none">
                        <p class="mb-0">Call a CPS specialist</p>
                    </a>
                </div>
            </div>
            <div class="row mx-0 mb-3">
                <div class="col-1 col-md-2 px-0">
                    <img width="35" height="35" alt="" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-chat-specialist-icon-202211_AV2?wid=70&amp;hei=70&amp;fmt=jpeg&amp;qlt=90&amp;.v=1671246216542">
                </div>
                <div class="col-11 col-md-10  help-header">
                    <p class="mb-0">Try our Web-To-Print Tool</p>
                    <a href="#" class="text-decoration-none">
                        <p class="mb-0">Ceate your account here &#x3E;</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Slider Start -->
<div class="carousel-container">
    <div class="carousel-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true }'>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-for small-carousel-icons400px.png">
                <div class="carousel-title">Creativity</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-box-packaging.png">
                <div class="carousel-title">Custom Packaging</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/Booklets.png">
                <div class="carousel-title">Booklets</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/capital-shield-ad-oh-yeah.png">
                <div class="carousel-title">Signs</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/poster-of-hendrix-being-printed.png">
                <div class="carousel-title">Wide format</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/cps-promotional-garments.png">
                <div class="carousel-title">Wearables</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/rolls-of-labels.png">
                <div class="carousel-title">Labels</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-group-of-booklets.png">
                <div class="carousel-title">Books,binding</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/CPS-yard-signs.png">
                <div class="carousel-title">Yard Signs</div>
            </div>
            <div class="carousel-cell">
                <img src="/assets/images/retractable-standing-posters.png">
                <div class="carousel-title"></div>
            </div>
        </div>
    </div>
</div>
<!-- Product Slider End -->
<!-- Card Slider Start -->
<div class="carousel-card-container mb-5">

    <div class="container">
        <div class="row wrapper mx-0">
            <div class="col-12 col-lg-12 px-0 mb-4">
                <h3 class="heading3"><span class="shop-header">The latest. </span>
                    <span class="shop-subheader text-color-muted">Take a look at what’s new, right now.</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="carousel-card-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true }'>
            <div class="carousel-cell">
                <div class="card img-fluid" style="box-shadow: 2px 4px 12px rgb(0 0 0 / 90%);">
                    <div class="row mx-0 pt-3">
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                        <div class="col-4">
                            <img src="https://www.nicepng.com/png/detail/389-3896316_polo-shirt-shirt-icon-png.png" alt="Polo Shirt - - Shirt Icon Png@nicepng.com" class="col-12" style="border: 1px solid; border-radius: 10px;">
                            <p class="px-1" style="border: 1px solid; border-radius: 10px; font-size: 70%">Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row mx-0 mb-1 px-3 text-center">
                        <div class="col-2 mx-2 line-cps-red"></div>
                        <div class="col-2 mx-2 line-cps-yellow"></div>
                        <div class="col-2 mx-2 line-cps-black"></div>
                        <div class="col-2 mx-2 line-cps-blue"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video autoplay muted loop playsinline controls="true" class="card-img-top col" style="height: 468px;" src="/assets/videos/mixkit-mother-with-her-little-daughter-eating-a-marshmallow-in-nature-39764-large.mp4">
                        <source src="/assets/videos/IMG_3565.MOV" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light">TURN GREAT IDEAS INTO REALITY</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video autoplay muted loop playsinline controls="true" class="card-img-top col" style="height: 496px;" src="/assets/videos/CPS-Perfect-binding.mp4">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-branches-in-the-breeze-1188-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS QUALITY SERVICES</p>
                        <h4 class="card-title text-light">Operated by creatives</h4>
                        <p class="card-content-desc text-light">Binding starting at $25ea</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video autoplay muted loop playsinline controls="true" class="card-img-top col" style="height: 468px;" src="/assets/videos/https-%20assets.mixkit.co%20videos%20preview%20mixkit-tree-with-yellow-flowers-1173-large.mp4%20type=%20video%20mp4%20.mp4">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-with-yellow-flowers-1173-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS MAKES BRANDS BETTER</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-box-packaging%20211x%20261px.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS BRAND</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-Wearables211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS WEARABLES</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-books211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS BRAND</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- Card Slider End -->
<!-- Card Slider Start -->
<div class="carousel-card-container mb-5">

    <div class="container">
        <div class="row wrapper mx-0">
            <div class="col-12 col-lg-12 px-0 mb-4">
                <h3 class="heading3"><span class="shop-header">The latest. </span>
                    <span class="shop-subheader text-color-muted">Take a look at what’s new, right now.</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="carousel-card-wrapper">
        <div class="carousel story-carousel" data-flickity='{ "freeScroll": true }'>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-box-211x261.png" alt="Card image" style="width:100%;">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CUSTOM MADE FOR YOUR BRAND</p>
                        <p class="card-title text-light">Creative community make creat boxes</p>
                        <p class="card-content-desc text-danger">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video autoplay muted loop playsinline controls="true" class="card-img-top col" style="height: 468px;" src="/assets/videos/mixkit-mother-with-her-little-daughter-eating-a-marshmallow-in-nature-39764-large.mp4">
                        <source src="/assets/videos/IMG_3565.MOV" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light">TURN GREAT IDEAS INTO REALITY</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video autoplay muted loop playsinline controls="true" class="card-img-top col" style="height: 496px;" src="/assets/videos/CPS-Perfect-binding.mp4">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-branches-in-the-breeze-1188-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS QUALITY SERVICES</p>
                        <h4 class="card-title text-light">Operated by creatives</h4>
                        <p class="card-content-desc text-light">Binding starting at $25ea</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <video autoplay muted loop playsinline controls="true" class="card-img-top col" style="height: 468px;" src="/assets/videos/https-%20assets.mixkit.co%20videos%20preview%20mixkit-tree-with-yellow-flowers-1173-large.mp4%20type=%20video%20mp4%20.mp4">
                        <source src="https://assets.mixkit.co/videos/preview/mixkit-tree-with-yellow-flowers-1173-large.mp4" type="video/mp4">
                    </video>
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS MAKES BRANDS BETTER</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-box-packaging%20211x%20261px.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS BRAND</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-Wearables211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS WEARABLES</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card img-fluid">
                    <img class="card-img-top" src="/assets/images/CPS-books211x261.png" alt="Card image" style="width:100%">
                    <div class="card-img-overlay">
                        <p class="card-text text-light">CPS BRAND</p>
                        <h4 class="card-title text-light">Creative and Community Woven together</h4>
                        <p class="card-content-desc text-light">49$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- Card Slider End -->

<!-- Footer Starts Here -->

<div class="container">
    <div class="row mx-0 wrapper">
        <div class="col-12 col-xs-12 col-lg-12 px-0">
            <h6>More ways to shop: Visit Website Or call 000000 000 000.</h6>
        </div>
        <hr />
        <div class="col-12 col-xs-12 col-lg-12 px-0">
            <h6>Copyright © 2023 Company Name. All rights reserved.
                <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">Sales Policy</a> | <a href="#">Legal</a> | <a href="#">Site Map</a>
            </h6>
        </div>
    </div>
</div>
<!-- Footer Ends Here -->