<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="testing_swipper" appConnect="local" components="{dmxSwiper:{},dmxSlideshow:{}}" -->
<section class="d-none">
    <div class="container">
        <div class="row horisontal
        </div>
<div class=" col col-xxl"></div>
        <div class="col col-xxl"></div>
        <div class="col col-xxl"></div>
    </div>

    <div class="offset-11 col">
        <div is="dmx-swiper" id="swiper1" space-between-md="5" slides-per-view="2">
            <div class="swiper-slide">
                <img src="/assets/images/CPS-box-211x261.png">
            </div>
            <div class="swiper-slide">
                <img src="/assets/images/CPS-box-211x261.png">
            </div>
            <div class="swiper-slide">
                <img src="/assets/images/CPS-box-211x261.png">
            </div>
            <div class="swiper-slide">
                <img src="/assets/images/CPS-box-211x261.png">
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<meta name="ac:route" content="/testing_swipper">