*,
*::after,
*::before {margin: 0;padding: 0;
    -webkit-box-sizing: border-box;box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
    background-color: #f5f5f7;
}
html{
    scroll-behavior: smooth;
}
/* Desktop Nav */

.nav-container {
    background: rgba(0, 0, 0, 9.5);
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
.section2{
    margin-top: 90px;
}
nav .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 1;
}

.link-logo {
    background: url('../assets/favicon.ico/favicon-16x16.png');
    display: block;
    background-position: center;
    height: 48px;
    width: 18px;
    background-repeat: no-repeat;
    background-image: url("../favicon.ico/favicon-16x16.png");
}

.link-search {
    background: url('../assets/images/search-icon.svg');
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-bag {
    background: url('../assets/images/bag-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-close {
    background: url('../assets/images/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Search Container */

.search-container.hide {
    opacity: 0;
    pointer-events: none;
}

.search-container {
    width: 60%;
    margin: 0 auto;
    padding: 0 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.search-container .link-search {
    position: absolute;
    left: 12px;
    opacity: 0.5;
}

.search-container .link-close {
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.search-container .link-close:hover {
    opacity: 0.7;
}

.search-container form {
    width: 100%;
    margin: 0 auto;
}

.search-container form input {
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    background: transparent;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
}

/* Overlay */

.overlay.show {
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

/* Quick Links */

.search-container .quick-links {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px 8px;
    border-radius: 0 0 16px 16px;
}

.search-container .quick-links h2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    margin: 10px 32px 0;
}

.search-container .quick-links ul {
    list-style: none;
    margin-top: 12px;
}

.search-container .quick-links ul li a {
    display: inline-block;
    width: 100%;
    padding: 8px 50px;
    font-size: 14px;
    color: #1d1d1f;
    text-decoration: none;
    font-weight: 400;
}

.search-container .quick-links ul li a:hover {
    background: #f5f5f5;
    color: #2997ff;
}

/* Desktop Nav Animation */

.desktop-nav li {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.desktop-nav.hide li {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    pointer-events: none;
}

/* Overlay Animation */

.overlay {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

/* Navigation Menu Items Transition Delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10) {
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9) {
    -webkit-transition-delay: 30ms;
            transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8) {
    -webkit-transition-delay: 60ms;
            transition-delay: 60ms;
}

.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7) {
    -webkit-transition-delay: 90ms;
            transition-delay: 90ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6) {
    -webkit-transition-delay: 120ms;
            transition-delay: 120ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4) {
    -webkit-transition-delay: 180ms;
            transition-delay: 180ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3) {
    -webkit-transition-delay: 210ms;
            transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2) {
    -webkit-transition-delay: 240ms;
            transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1) {
    -webkit-transition-delay: 270ms;
            transition-delay: 270ms;
}

/* Search Container Animation */

.search-container form,
.search-container .link-search {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
}

.search-container.hide form,
.search-container.hide .link-search {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
}

.search-container.link-search {
    opacity: 0.6;
}

.search-container .hide .link-close {
    opacity: 0;
}

.search-container.link-close {
    opacity: 0.5;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transition-delay: 400ms;
            transition-delay: 400ms;
}

.search-container.hide .quick-links h2 {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
}

.search-container.quick-links h2 {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
}

.search-container.hide .quick-links ul li {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    opacity: 0;
}

.search-container .quick-links ul li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.search-container .quick-links ul li:nth-of-type(1) {
    -webkit-transition-delay: 120ms;
            transition-delay: 120ms;
} 

.search-container .quick-links ul li:nth-of-type(2) {
    -webkit-transition-delay: 140ms;
            transition-delay: 140ms;
} 

.search-container .quick-links ul li:nth-of-type(3) {
    -webkit-transition-delay: 160ms;
            transition-delay: 160ms;
} 

.search-container .quick-links ul li:nth-of-type(4) {
    -webkit-transition-delay: 180ms;
            transition-delay: 180ms;
} 

.search-container .quick-links ul li:nth-of-type(5) {
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
} 


/* Hidden Items */

.mobile-nav,
.mobile-search-container {
    display: none;
}


/* Media Queries */

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 32px;
    }
    .container{
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .nav-container .desktop-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #000;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        overflow: hidden;
        z-index: -1;
        -webkit-transition: all 1000ms ease;
        transition: all 1000ms ease;
    }

    .nav-container.active .desktop-nav {
        height: 100vh;
    }

    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 32px;
    }

    .nav-container .desktop-nav li:first-child {
        margin-top: 120px;
    }

    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .link-bag {
        display: none;
    }

    .nav-container .desktop-nav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 17px;
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
        opacity: 0;
        -webkit-transition: all 700ms ease;
        transition: all 700ms ease;
    }

    .nav-container.active .desktop-nav li a {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }

    /* Mobile Nav */

    nav .mobile-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        list-style: none;
    }

    nav .menu-icon-container {
        width: 20px;
        height: 44px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
    }

    nav .menu-icon {
        position: relative;
        width: 100%;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        transition-property: transform, top;
        transition-property: transform, top, -webkit-transform;
        -webkit-transition-delay: 0ms, 160ms;
                transition-delay: 0ms, 160ms;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
    }

    nav .menu-icon .line-1 {
        top: -4px;
    }

    nav .menu-icon .line-2 {
        top: 4px;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform;
        -webkit-transition-delay: 0ms, 160ms;
                transition-delay: 0ms, 160ms;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        -webkit-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform;
        -webkit-transition-delay: 0ms, 160ms;
                transition-delay: 0ms, 160ms;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
    }

    /* Bag Icon Animation */

    .nav-container.active .mobile-nav .link-bag {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
        opacity: 0;
        pointer-events: none;
    }

    .nav-container .mobile-nav .link-bag {
        -webkit-transition: all 1000ms ease;
        transition: all 1000ms ease;
    }



    /* Search Box */

    .mobile-search-container input {
        width: 100%;
        padding: 12px 36px;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        background: #1b1b1b;
        border: 0;
        color: #fff;
        border-radius: 8px;
        outline: none;
    }

    .mobile-search-container {
        position: relative;
        margin-top: -30px;
        border-bottom: 1px solid #616161;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 16px 16px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg);
        opacity: 0;
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease;
    }

    .nav-container.active .mobile-search-container {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        margin-top: 10px;
        opacity: 1;
    }

    .mobile-search-container .link-search {
        position: absolute;
        left: 24px;
        opacity: .5;
        background-size: 15px;
    }

    /* Nav Move Up */

    .nav-container nav.move-up {
        margin-top: -40px;
    }

    /* Cancel Button */

    .mobile-search-container .cancel-btn {
        color: #2997ff;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        width: 0px;
        overflow: hidden;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .mobile-search-container .search-bar.active + .cancel-btn {
        padding: 0 16px;
        width: 74px;
    }

    .mobile-search-container .search-bar {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    /* Desktop Nav Move Down */

    nav .desktop-nav.move-down li:first-child {
        margin-top: 150px;
    }

    nav .desktop-nav.move-down li {
        opacity: 0;
        pointer-events: none;
    }

    
    /* Quick Links */

    .mobile-search-container .search-bar.active ~ .quick-links {
        top: 80px;
        opacity: 1;
        pointer-events: auto;
        -webkit-transition-delay: 40ms;
                transition-delay: 40ms;
    }

    .mobile-search-container .quick-links {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 32px;
        opacity: 0;
        pointer-events: none;
        top: 10px;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .mobile-search-container .quick-links ul {
        list-style: none;
    }

    .mobile-search-container .quick-links h2 {
        color: #86868b;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .mobile-search-container .quick-links ul li a {
        padding: 16px 0;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #616161;
        width: 100%;
    }

    .mobile-search-container .quick-links ul li a:hover {
        color: #2997ff;
    }

    /* Nav Animation */

    .nav-container nav {
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
    }
}


input,
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol, ul {
     padding-left: 0rem !important;
}
.mt-6{
    padding-top: 3.8rem !important;
}
.px-md-6 {
    padding-right: 4rem!important;
    padding-left: 4rem!important;
}
.text-color-muted{
    color: #6e6e73;
}
.video-player{
    -o-object-fit:cover;
       object-fit:cover;
    pointer-events:none;
}
/* .wrapper{
    background-color: #f5f5f7;
        padding-top: 80px;
        padding-bottom: 80px;
} */
.promo-banner{
    background-color: #fff;
    overflow: hidden;
    --ribbon-background-color: #f5f5f7;
    --ribbon-text-color: #1d1d1f;
    --ribbon-link-color: #06c;
    --ribbon-focus-color: rgba(0,125,250,0.6);
}
.promo-banner .promo-banner-content {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

    .heading1{
        font-size: 46px;
        line-height: 1.125;
        letter-spacing: 0.5px;
        font-weight: 600;
        display: inline;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: #000;
    }
    .heading3{ 
        font-size: 32px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        display: inline;
        margin-top: -18px;
        padding-bottom: 0px;
    }
.shop-header-red {
    color: #ee1458;
}
.shop-header-blue {
    color: #009ad5;
}
.shop-header-yellow {
    color: #ffe800;
}
.shop-subheader {
    color: #000000;
}
.help-header{
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.card{  
    min-width: 260px;
    height: auto;
    border-radius: 20px;
    contain: content;
    /* white-space: normal */
    -webkit-box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
            box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
            margin-right: 16px;
}


.section8{
    margin-top: 100px;
}
.section8 .section8-carousel-card-wrapper hr{
    /* border-top: 5px dotted #0c0c0cbd; */
    color: #fff;
    background-color: #fff;
    width: 85%;
    border: 2px dashed #000;
}
.section8-carousel-card-wrapper .card h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14.77px;
    color: #061a49;
}
.section8-carousel-card-wrapper .card p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.77px;
}
.section8-carousel-card-wrapper h1{
    color: #061a49;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.section8-carousel-card-wrapper h1 .USD{
    font-size: 46.85px;
}
.section8-carousel-card-wrapper h1 .month{
    font-size: 16.6px;
}
.section8-carousel-card-wrapper .check-points{

}
.section8-carousel-card-wrapper .check-points ul {
  list-style: none;
  font-size: 14.36px;
}
.section8-carousel-card-wrapper .check-points ul li:before {
    content: '✓';
    font-weight: bold;
    padding-right: 10px;
    color: #009ad5;
}
.section8-carousel-card-wrapper .check-points ul li{
    line-height: 30px;
}
.section8-carousel-card-wrapper .carousel .carousel-cell {
    width: auto;
    min-height: 400px;
    border-radius: 18px;
    margin-right: 16px;
    counter-increment: gallery-cell;
    contain: content;
}
.section7{
    margin-top: 100px;
}
.section7 .section7-carousel-card-wrapper hr{
    /* border-top: 5px dotted #0c0c0cbd; */
    color: #fff;
    background-color: #fff;
    width: 85%;
    border: 2px dashed #000;
}
.section7-carousel-card-wrapper .card h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14.77px;
    color: #061a49;
}
.section7-carousel-card-wrapper .card p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.77px;
}
.section7-carousel-card-wrapper h1{
    color: #061a49;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.section7-carousel-card-wrapper h1 .USD{
    font-size: 46.85px;
}
.section7-carousel-card-wrapper h1 .month{
    font-size: 16.6px;
}
.section7-carousel-card-wrapper .check-points{

}
.section7-carousel-card-wrapper .check-points ul {
  list-style: none;
  font-size: 14.36px;
}
.section7-carousel-card-wrapper .check-points ul li:before {
    content: '✓';
    font-weight: bold;
    padding-right: 10px;
    color: #009ad5;
}
.section7-carousel-card-wrapper .check-points ul li::after {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.section7-carousel-card-wrapper .check-points ul li{
    line-height: 30px;
}
.section7-carousel-card-wrapper .carousel .carousel-cell {
    width: auto;
    min-height: 400px;
    border-radius: 18px;
    margin-right: 16px;
    counter-increment: gallery-cell;
    contain: content;
}
.section6-testimonial-wrapper .card{    
    background-color: #f5f5f7;
      

}
.section6-testimonial-wrapper .card .box-area{
	padding: 30px 15px 0px;
	position: relative;/* -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px *//* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px */
    margin: 50px 20px 20px;
    border-radius: 30px;
   font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  
}
.section6-testimonial-wrapper .card .box-button{
    height: 200px;color: #000;
}
#testimonial-2{background: #65d9d8
}
.section6-testimonial-wrapper .card .box-button::before{
    width: 40px;
    height: 40px;
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: #65d9d8;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

}
#testimonial-3{
    background: #65d9d8;
}
.section6-testimonial-wrapper .card h5 {
	font-size: 18px;
	font-weight: 600;
	color: #0a69ed;
	margin-top: 20px;
	margin-bottom: 5px;
	/* text-transform: uppercase; */
	letter-spacing: 1px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    
 


}
.section6-testimonial-wrapper .card span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
}
.section6-testimonial-wrapper .card .box-area .content {
	color: #000;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left-justify;
    font-weight: 400;
}
.section6-testimonial-wrapper .card .box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
            
}
.section6-testimonial-wrapper .card .box-area .img-area img {
	height: 100%;
	border-radius: 50%;
    margin-left: -11px;
}
  #testimonial10{
    background: #e9317e; 
  }
.section5-carousel-card-wrapper .card .card-img-overlay{
    padding: 20px 15px;
}
.section5-carousel-card-wrapper .card .card-text{
    font-size: 12px;
    line-height: 1.33337;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: #6e6e73;
    margin-bottom: 0.6rem;
}
.section5-carousel-card-wrapper .carousel .card .card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.section5-carousel-card-wrapper .card .card-content-desc {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #1d1d1f;
    margin-top: 0;
}
.section5-carousel-card-wrapper .carousel-cell .card .card-img-top{
    border-radius: 18px;
    height: 100%;
}
.carousel .flickity-page-dots{
    display: none;
}
.section5-carousel-card-wrapper .carousel .carousel-cell {
  width: auto;
  min-height: 400px;
  border-radius: 18px;
  margin-right: 16px;
  counter-increment: gallery-cell;
  contain: content;
}
.section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
    margin-left: -295px;
}
.section5 .horizantal-image{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
    margin: 2px 1px;
    contain: strict;
    height: calc(100% - 49%);
    background-color: #fff;
}

.section4{
    margin-top: 250px;
}
.section4-carousel-card-wrapper h3{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
font-weight: 600;
letter-spacing: 0.5px;
display: inline;
}
.section4-carousel-card-wrapper .card{  
    width: auto;
    height: auto;
    border-radius: 20px;
    white-space: normal;
    -webkit-box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
            box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
.section4-carousel-card-wrapper .card .card-img-overlay{
    padding: 20px 15px;
}
.section4-carousel-card-wrapper .card .card-text{
    font-size: 12px;
    line-height: 1.33337;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: #6e6e73;
    margin-bottom: 0.6rem;
}
.section4-carousel-card-wrapper .carousel .card .card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.section4-carousel-card-wrapper .card .card-content-desc {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #1d1d1f;
    margin-top: 0;
}
.section4-carousel-card-wrapper .carousel-cell .card .card-img-top{
    border-radius: 18px;
    height: 100%;
}
/* .section4-carousel-card-wrapper .carousel .flickity-page-dots{
    display: none;
} */
.section4-carousel-card-wrapper .carousel .carousel-cell {
  width: auto;
  min-height: 400px;
  margin-right: 16px;
  counter-increment: gallery-cell;
  contain: content;
}
.section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
    margin-left: -295px;
}

.section3 .carousel .carousel-cell img{
    max-width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}
.section3-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background-color: #fff;
}
.section3-wrapper .carousel{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: auto;
}
.section3-wrapper .carousel .carousel-cell{
    height: auto;
    padding: 5px;
    margin: 0px;
    min-width: 118px;
}
.carousel .carousel-title{
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 600;
    letter-spacing: -.016em;
    display: block;
    color: #1d1d1f;
    text-align: left;
    white-space: nowrap;
    margin-top: 0.75rem!important;
    margin-bottom: 0.5rem!important;
}
.section3-wrapper .carousel .carousel-cell .more{
    display: block;
    opacity: 0;
    margin: 5px 0 15px;
    text-align: center;
    font-size: 10px;
    color: #cfcfcf;
    text-decoration: none;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}
.section3-wrapper .carousel .carousel-cell .more:hover,
.section3-wrapper .carousel .carousel-cell .more:active,
.section3-wrapper .carousel .carousel-cell .more:visited,
.section3-wrapper .carousel .carousel-cell .more:focus{
    color: #cfcfcf;
    text-decoration: none;
 }
/* .section3-wrapper .flickity-page-dots{
    display: none;
} */

.section3-wrapper .carousel .flickity-viewport .flickity-slider{
    margin-left: -415px;
}

.section3-wrapper .carousel .carousel-cell img{
    max-height: 79.1px;
    margin-left: -20px;
    max-width: 99.2px;
}
@media (min-width: 576px) {
    .container{
        max-width: 100% !important;
    }
}
.flickity-prev-next-button.previous {
    left: 0px !important;
}
.flickity-prev-next-button.next{
    right: 0px !important;
}
.flickity-button:hover {
    background: #ffe80073 !important;
}
/* .carousel .flickity-prev-next-button{
    display: none;
}
.carousel .flickity-button .flickity-prev-next-button:hover{
    display: block !important;
} */
@media only screen and (min-width:270px){
    .heading1{
        font-size: 46px;
    }
    .section2 {
        margin-top: 60px;
        padding: 0px 10px;
    }
    .section3{
        margin-top: 90px;
  
    }
    .section3 .carousel-title{
        font-size: 12px;
    }
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -65px;
    }
    .section4{
        margin-top: 210px;
    }
    .section4-carousel-card-wrapper .card .card-icons{
        border: 1px solid; 
        border-radius: 10px; 
        height: 72px;
    }
    .section4-carousel-card-wrapper .card .card-icon-title{
        border: 1px solid rgba(0,0,0,.125); 
        border-radius: 10px; 
        font-size: 12.77px; 
        margin-bottom:12px;
        
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 418px;
    }
    .section4-carousel-card-wrapper .card .card-img-top{
        height: 320px !important;
    }
    .section4-carousel-card-wrapper .carousel .carousel-cell {
        width: 260px;
    }
    .section4-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 260px;
        height: 325px;
    }
    .section4-carousel-card-wrapper .carousel .card .card-title {
        font-size: 14px;
        line-height: 18px;
    }
    .section4-carousel-card-wrapper .carousel .card .card-text {
        font-size: 11px;
        margin-bottom: 4px;
    }
    .section4-carousel-card-wrapper .card .card-content-desc {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 1.5px;
    }
    .section5 {
        margin-top: 20px;
    }
    .section5 .container{
        margin-left: -22px;
    }
    .heading3 {
        font-size: 22px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 418px;
    }
    .section5-carousel-card-wrapper .card .card-img-top{
        height: 325px !important;
    }
    .section5-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 260px;
        height: 325px;
    }
    .section5-carousel-card-wrapper .carousel .card .card-title {
        font-size: 14px;
        line-height: 18px;
    }
    .section5-carousel-card-wrapper .carousel .card .card-text {
        font-size: 11px;
        margin-bottom: 4px;
    }
    .section5-carousel-card-wrapper .card .card-content-desc {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 1.5px;
    }
    .section6 .container{
        margin-left: -22px;
    }
    .section6-testimonial-wrapper .card .box-area{
        margin: 40px 20px 10px;
    }
    .section6-testimonial-wrapper .card{
        min-width: 260px;
        min-height: 325px;
        margin-bottom: 16px;
    }
    .section6-testimonial-wrapper .card .box-area .img-area{
        width: 50px;
        height: 50px;
        top: -30px;
        -webkit-box-shadow: 0 2px 2px rgb(0 0 0 / 50%);
                box-shadow: 0 2px 2px rgb(0 0 0 / 50%);
    }
    .section6-testimonial-wrapper .card .box-area .img-area img{
        margin-left: -6px;
    }
    .section6-testimonial-wrapper .card .box-area .content{
        margin-top: 0px;
        font-size: 13px;
    }
    .section7 {
        margin-top: 80px;
    }
    .section7 .container{
        margin-left: -22px;
        padding-right: 0px;
    }
    .section7-carousel-card-wrapper .carousel .carousel-cell {
        width: 260px;
    }
    .section7-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 260px;
        height: 325px;
    }
    .section7-carousel-card-wrapper .card .card-img-top {
        height: 325px !important;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 5px;
    }
    .section8 {
        margin-top: 10px;
    }
    .section8 .container{
        margin-left: -22px;
        padding-right: 0px;
    }
    .section8-carousel-card-wrapper .carousel .carousel-cell {
        width: 260px;
    }
    .section8-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 260px;
        height: 425px;
    }
    .section8-carousel-card-wrapper .card .card-img-top {
        height: 425px !important;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 5px;
    }

}

@media only screen and (min-width:320px){
 
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -87px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 395px;
    }
    .section4-carousel-card-wrapper .card .card-img-top{
        height: 350px !important;
    }
    .section4-carousel-card-wrapper .carousel .card .card-title {
        font-size: 16px;
        line-height: 24px;
    }
    .section4-carousel-card-wrapper .carousel .card .card-text {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .section4-carousel-card-wrapper .card .card-content-desc {
        font-size: 14px;
        line-height: 1.2356;
        letter-spacing: 1.5px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 395px;
    }
    .section5-carousel-card-wrapper .card .card-img-top{
        height: 350px !important;
    }
    .section5-carousel-card-wrapper .carousel .card .card-title {
        font-size: 16px;
        line-height: 24px;
    }
    .section5-carousel-card-wrapper .carousel .card .card-text {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .section5-carousel-card-wrapper .card .card-content-desc {
        font-size: 14px;
        line-height: 1.2356;
        letter-spacing: 1.5px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -20px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -20px;
    }
    
}
@media only screen and (min-width:343px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -100px;
    }
    .section4-carousel-card-wrapper .carousel .carousel-cell {
        width: 305.9px;
    }
    .section4-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 305.9px;
        height: 382.2px;
    }
    .section4-carousel-card-wrapper .card .card-icons{
        height: 90px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 475px;
    }
    .section5{
        margin-top: 70px;
    }
    .section5 .container {
        margin-left: -25px;
    }
    .section5-carousel-card-wrapper .carousel .carousel-cell {
        width: 305.9px;
    }
    .section5-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 305.9px;
        height: 382.2px;
    }
    .section5-carousel-card-wrapper .card .card-img-top {
        height: 382.2px !important;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 475px;
    }
    .section6{
        margin-top: 50px;
    }
    .section6 .container {
        margin-left: -25px;
    }
    .section6-testimonial-wrapper .card{
        min-width: 305.9px;
        height: 382.2px;
    }
    .section6-testimonial-wrapper .card .box-area {
        margin: 50px 20px 20px;
    }
    .section6-testimonial-wrapper .card .box-area .img-area {
        width: 90px;
        height: 90px;
        top: -40px;
        -webkit-box-shadow: 0 5px 4px rgb(0 0 0 / 50%);
                box-shadow: 0 5px 4px rgb(0 0 0 / 50%);
    }
    .section6-testimonial-wrapper .card .box-area .img-area img {
        margin-left: -11px;
    }
    .section6-testimonial-wrapper .card .box-area .content {
        margin-top: 30px;
        font-size: 14.77px;
    }
    .fa-quote-left{
        font-size:48px;
    }
    .section7 {
        margin-top: 70px;
    }
    .section7 .container {
        margin-left: -25px;
    }
    .section7-carousel-card-wrapper .carousel .carousel-cell {
        width: 305.9px;
    }
    .section7-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 305.9px;
        height: 382.2px;
    }
    .section7-carousel-card-wrapper .card .card-img-top {
        height: 382.2px !important;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -15px;
    }
    .section8 {
        margin-top: 50px;
    }
    .section8 .container {
        margin-left: -25px;
        padding-right: 0px;
    }
    .section8-carousel-card-wrapper .carousel .carousel-cell {
        width: 305.899px;
    }
    .section8-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 305.899px;
        height: 525.045px;
    }
    .section8-carousel-card-wrapper .card .card-img-top {
        height: 525.045px !important;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -15px;
    }
}
@media only screen and (min-width:360px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -110px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 465px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 465px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -20px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -20px;
    }
}
@media only screen and (min-width:375px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -115px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 458px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 458px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -25px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -25px;
    }
}
@media only screen and (min-width:412px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -135px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 441px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 441px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -45px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -45px;
    }

}
@media only screen and (min-width:540px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -195px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 380px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 380px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -110px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -110px;
    }

}
@media only screen and (min-width:576px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -215px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 360px;
    }
    .section4-carousel-card-wrapper .carousel .card .card-title {
        font-size: 20px;
        line-height: 24px;
    }
    .section4-carousel-card-wrapper .carousel .card .card-text {
        font-size: 14px;
    }
    .section4-carousel-card-wrapper .card .card-content-desc {
        font-size: 16px;
    }
    .section4-carousel-card-wrapper .card .card-img-top {
        height: 100% !important;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 360px;
    }
    .section5-carousel-card-wrapper .carousel .card .card-title {
        font-size: 20px;
        line-height: 24px;
    }
    .section5-carousel-card-wrapper .carousel .card .card-text {
        font-size: 14px;
    }
    .section5-carousel-card-wrapper .card .card-content-desc {
        font-size: 16px;
    }
    .section5-carousel-card-wrapper .card .card-img-top {
        height: 100% !important;
    }
    .section6 .container {
        margin-left: -20px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -125px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -125px;
    }
} 
@media only screen and (min-width:736px){
    .section3{
        margin-top: 100px;
    }
    .heading1 {
        font-size: 48px;
    }
    .section3 .carousel-title{
        font-size: 14px;
    }
    .section4 {
        margin-top: 220px;
    }
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -295px;
    }
    .section4-carousel-card-wrapper .carousel .carousel-cell {
        width: 400px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 467px;
    }
    .section4-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 400px;
        height: 500px;
    }
    .section4-carousel-card-wrapper .card .card-icons{
        height: 140px;
    }
    .section4-carousel-card-wrapper .card .card-img-overlay {
        padding: 22px 25px;
    }
    .section5{
        margin-top: 80px;
    }
    .heading3 {
        font-size: 24px;
    }
    .section5 .container {
        margin-left: -20px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 467px;
    }
    .section5-carousel-card-wrapper .carousel .carousel-cell {
        width: 400px;
    }
    .section5-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 400px;
        height: 500px;
    }
    .section5-carousel-card-wrapper .card .card-icons{
        height: 90px;
    }
    .section5-carousel-card-wrapper .card .card-img-overlay {
        padding: 22px 25px;
    }
    .section6-testimonial-wrapper .card{
            min-width: 400px;
            height: 350.12px;
            margin-right: 16px;
    }
    .section7 .container {
        margin-left: -20px;
    }
    .section7-carousel-card-wrapper .carousel .carousel-cell {
        width: 400px;
    }
    .section7-carousel-card-wrapper .carousel .carousel-cell .card {
        width: 400px;
        height: 407.886px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -155px;
    }
    .section8 .container {
        margin-left: -20px;
    }
    .section8-carousel-card-wrapper .carousel .carousel-cell {
        width: 400px;
    }
    .section8-carousel-card-wrapper .carousel .carousel-cell .card {
        width: 400px;
        height: 675.02px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -155px;
    }
}
@media only screen and (min-width:768px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -310px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 453px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 453px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -170px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -170px;
    }
}
@media only screen and (min-width:820px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -335px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 425px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 425px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -200px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -200px;
    }

}
@media only screen and (min-width:912px){
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -380px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 383px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: 383px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -245px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -245px;
    }

}
@media only screen and (min-width:976px){
    
    .section2 {
        margin-top: 90px;
    }
    .section3-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -410px;
    }
    .section4{
        margin-top: 250px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 350px;
    }
    .section4-carousel-card-wrapper .card .card-img-overlay {
        padding: 27px;
    }
    .section4-carousel-card-wrapper .carousel .card .card-text {
        font-size: 18px;
    }
    .section4-carousel-card-wrapper .carousel .card .card-title {
        font-size: 24px;
        line-height: 28px;
    }
    .section4-carousel-card-wrapper .card .card-content-desc {
        font-size: 20px;
    }
    .section5 {
        margin-top: 100px;
    }
    .heading3 {
        font-size: 28px;
    }
    .section5 .container {
        margin-left: -15px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 350px;
    }
    .section5-carousel-card-wrapper .card .card-img-overlay {
        padding: 27px;
    }
    .section5-carousel-card-wrapper .carousel .card .card-text {
        font-size: 18px;
    }
    .section5-carousel-card-wrapper .carousel .card .card-title {
        font-size: 24px;
        line-height: 28px;
    }
    .section5-carousel-card-wrapper .card .card-content-desc {
        font-size: 20px;
    }
    .section6 .container {
        margin-left: -15px;
    }
    .section7 .container {
        margin-left: -15px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -270px;
    }
    .section8 .container {
        margin-left: -15px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -270px;
    }
}
@media only screen and (min-width:1024px) {
    .section2 {
        padding: 0px 30px;
    }
    .section3{
        margin-top: 140px;
    }
    .section3-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -415px;
    }
    .section4 {
        margin-top: 280px;
    }
    .section4-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 333px;
    }
    .section5 .container {
        margin: 0 auto;
        padding-left: 15px;
    }
    .section5-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: 333px;
    }
    .section5-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 400px;
        height: 500px;
    }
    .section5-carousel-card-wrapper .card .card-icons {
        height: 123px;
    }
    .section5-carousel-card-wrapper .card .card-icon-title{
        font-size: 12px;
    }
    .section6 {
        margin-top: 100px;
    }
    .section6 .container {
        margin: 0 auto;
        padding-left: 15px;
    }
    .section7 {
        margin-top: 100px;
    }
    .section7 .container {
        margin: 0 auto;
        padding-left: 15px;
    }
    .section7-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -280px;
    }
    .section7-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 400px;
        height: 407.886px;
    }
    .section8 {
        margin-top: 100px;
    }
    .section8 .container {
        margin: 0 auto;
        padding-left: 15px;
    }
    .section8-carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -280px;
    }
    .section8-carousel-card-wrapper .carousel .carousel-cell .card{
        width: 400px;
        height: 675.02px;
    }
    .section-footer{
        margin-top: 100px !important;
    }
}

h6 a{
    text-decoration-line: none;
}


    .line-cps-red {
        height: 5px;
        text-indent: -999px;
        background-color: #ee1458;
        width: 20% !important;
        background-clip: padding-box;
    }

    .line-cps-black {
        height: 5px;
        text-indent: -999px;
        background-color: #000;
        width: 20% !important;
        background-clip: padding-box;
    }

    .line-cps-blue {
        height: 5px;
        text-indent: -999px;
        background-color: #009ad5;
        width: 20% !important;
        background-clip: padding-box;
    }

    .line-cps-yellow {
        height: 5px;
        text-indent: -999px;
        background-color: #ffe800;
        width: 20% !important;
        background-clip: padding-box;
    }
    video{
        background: white;
    }
/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}



.section-footer{
    background-color: #0C1635;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    font-family: Arial, sans-serif !important;
    margin-top: 80px;
}
.section-footer h5{
    font-family: Arial, sans-serif !important;
}
.footer-logo p{
    color: #ee1458;
    font-weight: 400;
    font-size: 32px;
}

.section-footer .container .bottom-search{
    background: transparent;
    color: #fff;
    height: 40px;
    border-radius: 50px;
    border: .5px solid #fff;
    font-size: 14px;
    font-weight: 400;
}
.section-footer .d-flex a{
    color:#fff;
}


video::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
video::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
video::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
video:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
video::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.style1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: right;
}
.col-4 {

}
.style2 {

}


/* px-1 card-icon-title {
-webkit-box-flex: 0;

    -ms-flex: none;

        flex: none
    
} */


.style3 {

}


.style4 {

}


.style5 {

}


.style6 {

}


.style7 {margin-right: -30px;
}


.style3:hover {color: #e6e10f;
}


.style8 {color: #e6e10f;
}


.style9 {width: 25px;height: 25px;
}


.style10 {width: 25px;
}


.style11 {width: 30px;
}


.style12 {

}


.style13 {

}


.style14 {

}


.style15 {font-size: xx-small;
}


.style16 {font-size: smaller;
}


.style17 {

}


@media (min-width: 1400px) {


.style11 {width: 40px;
}
}
