*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
    background-color: #f5f5f7;
}

/* Desktop Nav */

.nav-container {
    background: rgba(0, 0, 0, 9.5);
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
.container .wrapper{
    margin-top: 90px;
}
.carousel-container .container .wrapper{
    margin-top: 190px;
}
nav .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 1;
}

.link-logo {
    background: url('../assets/images/apple-logo.svg');
    display: block;
    background-position: center;
    height: 44px;
    width: 15px;
    background-repeat: no-repeat;
    background-image: url("../assets/images/CPS-for%20small-carousel-icons400px.png");
}

.link-search {
    background: url('../assets/images/search-icon.svg');
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-bag {
    background: url('../assets/images/bag-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-close {
    background: url('../assets/images/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Search Container */

.search-container.hide {
    opacity: 0;
    pointer-events: none;
}

.search-container {
    width: 60%;
    margin: 0 auto;
    padding: 0 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.search-container .link-search {
    position: absolute;
    left: 12px;
    opacity: 0.5;
}

.search-container .link-close {
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.search-container .link-close:hover {
    opacity: 0.7;
}

.search-container form {
    width: 100%;
    margin: 0 auto;
}

.search-container form input {
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    background: transparent;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
}

/* Overlay */

.overlay.show {
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

/* Quick Links */

.search-container .quick-links {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px 8px;
    border-radius: 0 0 16px 16px;
}

.search-container .quick-links h2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    margin: 10px 32px 0;
}

.search-container .quick-links ul {
    list-style: none;
    margin-top: 12px;
}

.search-container .quick-links ul li a {
    display: inline-block;
    width: 100%;
    padding: 8px 50px;
    font-size: 14px;
    color: #1d1d1f;
    text-decoration: none;
    font-weight: 400;
}

.search-container .quick-links ul li a:hover {
    background: #f5f5f5;
    color: #2997ff;
}

/* Desktop Nav Animation */

.desktop-nav li {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.desktop-nav.hide li {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    pointer-events: none;
}

/* Overlay Animation */

.overlay {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

/* Navigation Menu Items Transition Delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10) {
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9) {
    -webkit-transition-delay: 30ms;
            transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8) {
    -webkit-transition-delay: 60ms;
            transition-delay: 60ms;
}

.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7) {
    -webkit-transition-delay: 90ms;
            transition-delay: 90ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6) {
    -webkit-transition-delay: 120ms;
            transition-delay: 120ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4) {
    -webkit-transition-delay: 180ms;
            transition-delay: 180ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3) {
    -webkit-transition-delay: 210ms;
            transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2) {
    -webkit-transition-delay: 240ms;
            transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1) {
    -webkit-transition-delay: 270ms;
            transition-delay: 270ms;
}

/* Search Container Animation */

.search-container form,
.search-container .link-search {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
}

.search-container.hide form,
.search-container.hide .link-search {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
}

.search-container.link-search {
    opacity: 0.6;
}

.search-container .hide .link-close {
    opacity: 0;
}

.search-container.link-close {
    opacity: 0.5;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transition-delay: 400ms;
            transition-delay: 400ms;
}

.search-container.hide .quick-links h2 {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
}

.search-container.quick-links h2 {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
}

.search-container.hide .quick-links ul li {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    opacity: 0;
}

.search-container .quick-links ul li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.search-container .quick-links ul li:nth-of-type(1) {
    -webkit-transition-delay: 120ms;
            transition-delay: 120ms;
} 

.search-container .quick-links ul li:nth-of-type(2) {
    -webkit-transition-delay: 140ms;
            transition-delay: 140ms;
} 

.search-container .quick-links ul li:nth-of-type(3) {
    -webkit-transition-delay: 160ms;
            transition-delay: 160ms;
} 

.search-container .quick-links ul li:nth-of-type(4) {
    -webkit-transition-delay: 180ms;
            transition-delay: 180ms;
} 

.search-container .quick-links ul li:nth-of-type(5) {
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
} 


/* Hidden Items */

.mobile-nav,
.mobile-search-container {
    display: none;
}


/* Media Queries */

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 32px;
    }
    .container{
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .nav-container .desktop-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #000;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        overflow: hidden;
        z-index: -1;
        -webkit-transition: all 1000ms ease;
        transition: all 1000ms ease;
    }

    .nav-container.active .desktop-nav {
        height: 100vh;
    }

    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 32px;
    }

    .nav-container .desktop-nav li:first-child {
        margin-top: 120px;
    }

    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .link-bag {
        display: none;
    }

    .nav-container .desktop-nav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 17px;
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
        opacity: 0;
        -webkit-transition: all 700ms ease;
        transition: all 700ms ease;
    }

    .nav-container.active .desktop-nav li a {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }

    /* Mobile Nav */

    nav .mobile-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        list-style: none;
    }

    nav .menu-icon-container {
        width: 20px;
        height: 44px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
    }

    nav .menu-icon {
        position: relative;
        width: 100%;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        transition-property: transform, top;
        transition-property: transform, top, -webkit-transform;
        -webkit-transition-delay: 0ms, 160ms;
                transition-delay: 0ms, 160ms;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
    }

    nav .menu-icon .line-1 {
        top: -4px;
    }

    nav .menu-icon .line-2 {
        top: 4px;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform;
        -webkit-transition-delay: 0ms, 160ms;
                transition-delay: 0ms, 160ms;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        -webkit-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform;
        -webkit-transition-delay: 0ms, 160ms;
                transition-delay: 0ms, 160ms;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
    }

    /* Bag Icon Animation */

    .nav-container.active .mobile-nav .link-bag {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
        opacity: 0;
        pointer-events: none;
    }

    .nav-container .mobile-nav .link-bag {
        -webkit-transition: all 1000ms ease;
        transition: all 1000ms ease;
    }



    /* Search Box */

    .mobile-search-container input {
        width: 100%;
        padding: 12px 36px;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        background: #1b1b1b;
        border: 0;
        color: #fff;
        border-radius: 8px;
        outline: none;
    }

    .mobile-search-container {
        position: relative;
        margin-top: -30px;
        border-bottom: 1px solid #616161;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 16px 16px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg);
        opacity: 0;
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease;
    }

    .nav-container.active .mobile-search-container {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        margin-top: 10px;
        opacity: 1;
    }

    .mobile-search-container .link-search {
        position: absolute;
        left: 24px;
        opacity: .5;
        background-size: 15px;
    }

    /* Nav Move Up */

    .nav-container nav.move-up {
        margin-top: -40px;
    }

    /* Cancel Button */

    .mobile-search-container .cancel-btn {
        color: #2997ff;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        width: 0px;
        overflow: hidden;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .mobile-search-container .search-bar.active + .cancel-btn {
        padding: 0 16px;
        width: 74px;
    }

    .mobile-search-container .search-bar {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    /* Desktop Nav Move Down */

    nav .desktop-nav.move-down li:first-child {
        margin-top: 150px;
    }

    nav .desktop-nav.move-down li {
        opacity: 0;
        pointer-events: none;
    }

    
    /* Quick Links */

    .mobile-search-container .search-bar.active ~ .quick-links {
        top: 80px;
        opacity: 1;
        pointer-events: auto;
        -webkit-transition-delay: 40ms;
                transition-delay: 40ms;
    }

    .mobile-search-container .quick-links {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 32px;
        opacity: 0;
        pointer-events: none;
        top: 10px;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .mobile-search-container .quick-links ul {
        list-style: none;
    }

    .mobile-search-container .quick-links h2 {
        color: #86868b;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .mobile-search-container .quick-links ul li a {
        padding: 16px 0;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #616161;
        width: 100%;
    }

    .mobile-search-container .quick-links ul li a:hover {
        color: #2997ff;
    }

    /* Nav Animation */

    .nav-container nav {
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
    }
}


input,
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol, ul {
     padding-left: 0rem !important;
}
.mt-6{
    padding-top: 3.8rem !important;
}
.px-md-6 {
    padding-right: 4rem!important;
    padding-left: 4rem!important;
}
.text-color-muted{
    color: #6e6e73;
}

/* .wrapper{
    background-color: #f5f5f7;
        padding-top: 80px;
        padding-bottom: 80px;
} */
.promo-banner{
    background-color: #fff;
    overflow: hidden;
    --ribbon-background-color: #f5f5f7;
    --ribbon-text-color: #1d1d1f;
    --ribbon-link-color: #06c;
    --ribbon-focus-color: rgba(0,125,250,0.6);
}
.promo-banner .promo-banner-content {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

    .heading1{
        font-size: 48px;
        line-height: 1.125;
        letter-spacing: 0.5px;
        font-weight: 600;
        display: inline;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: #000;
    }
    .heading3{ 
        font-size: 32px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        display: inline;
        margin-top: -18px;
        padding-bottom: 0px;
    }
.shop-header-red {
    color: #aa150b;
}
.shop-header-blue {
    color: #0fa0e4;
}
.shop-header-yellow {
    color: #dfe20c;
}
.shop-subheader {
    color: #000000;
}
.help-header{
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.carousel-card-container{
    margin-top: 250px;

}

.carousel-card-wrapper .card{  
    width: auto;
    height: auto;
    border-radius: 18px;
    white-space: normal;
    -webkit-box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
            box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
.carousel-card-wrapper .card:hover{  
    z-index: 1;
    -webkit-box-shadow: 0px 5px 50px rgb(0, 0, 0, 0.2);
            box-shadow: 0px 5px 50px rgb(0, 0, 0, 0.2);
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
}
.carousel-card-wrapper .card .card-img-overlay{
    padding: 20px 15px;
}
.carousel-card-wrapper .card .card-text{
    font-size: 12px;
    line-height: 1.33337;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: #6e6e73;
    margin-bottom: 0.6rem;
}
.carousel-card-wrapper .carousel .card .card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.carousel-card-wrapper .card .card-content-desc {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #1d1d1f;
    margin-top: 0;
}
.carousel-card-wrapper .carousel-cell .card .card-img-top{
    border-radius: 18px;
    height: 100%;
}
.carousel-card-wrapper .carousel .flickity-page-dots{
    display: none;
}
.carousel-card-wrapper .carousel .carousel-cell {
  width: 29%;
  height: auto;
  border-radius: 18px;
  margin-right: 15px;
  counter-increment: gallery-cell;
}
.carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
    margin-left: -295px;
}

.carousel-container{
    background-color: #f5f5f7;
    margin-top: 150px;
}
.carousel-container .carousel .carousel-cell img{
    max-width: 100%;
    height: 100px;
    display: block;
    border-radius: 5px;
}
.carousel-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background-color: #fff;
}
.carousel-wrapper .carousel{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: auto;
}
.carousel-wrapper .carousel .carousel-cell{margin: 0 5px;min-width: 100px;

}
.carousel .carousel-title{
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 600;
    letter-spacing: -.016em;
    display: block;
    color: #1d1d1f;
    text-align: left;
    white-space: nowrap;
    margin-top: 0.75rem!important;
    margin-bottom: 0.5rem!important;
}
.carousel-wrapper .carousel .carousel-cell .more{
    display: block;
    opacity: 0;
    margin: 5px 0 15px;
    text-align: center;
    font-size: 10px;
    color: #cfcfcf;
    text-decoration: none;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}
.carousel-wrapper .carousel .carousel-cell .more:hover,
.carousel-wrapper .carousel .carousel-cell .more:active,
.carousel-wrapper .carousel .carousel-cell .more:visited,
.carousel-wrapper .carousel .carousel-cell .more:focus{
    color: #cfcfcf;
    text-decoration: none;
 }
.carousel-wrapper .flickity-page-dots{
    display: none;
}

.carousel-wrapper .carousel .flickity-viewport .flickity-slider{
    margin-left: -415px;
}

@media (min-width: 576px) {
    .container{
        max-width: 100% !important;
    }
}

@media only screen and (min-width:270px){
    .container .wrapper {
        margin-top: 50px;
    }
    .carousel-container{
        margin-top: 70px;
    }
    .heading1{
        font-size: 28px;
        line-height: 1.149;
        letter-spacing: 0.5px;
        font-weight: 600;
    }
    .carousel-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -40px;
    }
    .carousel-wrapper .carousel .carousel-cell {
        min-width: 100px;
    }
    .carousel-wrapper .carousel .carousel-cell img{
       max-height: 50px;
    }
    .carousel-card-container{
        margin-top: 180px;
    }
    .carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -7px;
    }
    
    .carousel-card-wrapper .card .card-img-top{
        height: 320px !important;
    }
    .carousel-card-wrapper .carousel .carousel-cell {
        width: 210px;
        height: 320px;
        contain: content;
    }
    .carousel-card-container .heading3 {
        font-size: 24px;
    }
    .carousel-card-wrapper .carousel .card .card-title {
        font-size: 14px;
        line-height: 18px;
    }
    .carousel-card-wrapper .carousel .card .card-text {
        font-size: 11px;
        margin-bottom: 4px;
    }
    .carousel-card-wrapper .card .card-content-desc {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 1.5px;
    }

}

@media only screen and (min-width:320px){
    .container .wrapper{
        margin-top: 60px;
    }
    .heading1{
        font-size: 32px;
        line-height: 1.125;
        letter-spacing: 0.5px;
        display: inline;
        font-weight: 600;
    }
    .carousel-container{
        margin-top: 80px;
    }
    .carousel-wrapper .carousel .carousel-cell img{
       max-height: 60px;
    }
    .carousel-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -60px;
    }
    .carousel-wrapper .carousel .carousel-cell {
        min-width: 110px;
    }
    .carousel-card-container{
        margin-top: 180px;
    }
    .carousel-card-wrapper .carousel .carousel-cell {
        width: 240px;
        height: 350px;
        contain: content;
    }
    .carousel-card-container .heading3 {
        font-size: 24px;
    }
    .carousel-card-wrapper .card .card-img-top{
        height: 350px !important;
    }
    .carousel-card-wrapper .carousel .card .card-title {
        font-size: 16px;
        line-height: 24px;
    }
    .carousel-card-wrapper .carousel .card .card-text {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .carousel-card-wrapper .card .card-content-desc {
        font-size: 14px;
        line-height: 1.2356;
        letter-spacing: 1.5px;
    }
    
}
@media only screen and (min-width:576px){
    .carousel-container{
        margin-top: 80px;
    }
    .carousel-wrapper .carousel .carousel-cell{
        height: auto;
        padding: 5px;
        margin: 0px;
        min-width: 130px;
    }
    .carousel-wrapper .carousel .carousel-cell img{
       max-height: 60px;
    }
    .carousel-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -190px;
    }
    .carousel-card-container{
        margin-top: 190px;
    }
    .carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -80px;
    }
    .carousel-card-wrapper .carousel .carousel-cell {
        width: 350px;
        height: 435px;
        contain: content;
    }
    .carousel-card-container .heading3 {
        font-size: 28px;
    }
    .carousel-card-wrapper .carousel .card .card-title {
        font-size: 20px;
        line-height: 24px;
    }
    .carousel-card-wrapper .carousel .card .card-text {
        font-size: 14px;
    }
    .carousel-card-wrapper .card .card-content-desc {
        font-size: 16px;
    }
    .carousel-card-wrapper .card .card-img-top {
        height: 100% !important;
    }
} 
@media only screen and (min-width:736px){
    
    .container .wrapper {
        margin-top: 90px;
    }
    .carousel-card-container .container .wrapper {
        margin-top: 270px;
    }
    .heading1{
        font-size: 48px;
        line-height: 1.125;
        letter-spacing: 0.5px;
    }
    .heading3{
        font-size: 32px;
        line-height: 1;
        font-weight: 600;
    }
    .carousel-container{
        margin-top: 110px;
    }
    .carousel-wrapper .carousel .carousel-cell{
        height: auto;
        padding: 5px;
        margin: 0px;
    }
    .carousel-wrapper .carousel .carousel-cell img{
       max-height: 60px;
    }
    .carousel-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -260px;
    }
    .carousel-card-container{
        margin-top: 200px;
    }
    .carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -140px;
    }
    .carousel-card-wrapper .carousel .carousel-cell {
        width: 385px;
        height: 480px;
        contain: content;
    }
    .carousel-card-container .heading3 {
        font-size: 28px;
    }
    .carousel-card-wrapper .card .card-img-overlay {
        padding: 22px 25px;
    }
}
@media only screen and (min-width:976px){
    .carousel-wrapper .carousel .carousel-cell{
        height: auto;
        padding: 5px;
        margin: 0px;
        min-width: 150px;
    }
    .carousel-wrapper .carousel .carousel-cell img{
       max-height: 80px;
    }
    .carousel-container{
        margin-top: 140px;
    }
    .carousel-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -390px;
    }
    .carousel-card-container .container .wrapper {
        margin-top: 150px;
    }
    .carousel-card-container{
        margin-top: 200px;
    }
    .carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -260px;
    }
    .carousel-card-wrapper .carousel .carousel-cell {
        width: 390px;
        height: 487px;
        contain: content;
    }
    .carousel-card-container .heading3 {
        font-size: 36px;
    }
    .carousel-card-wrapper .card .card-img-overlay {
        padding: 27px;
    }
    .carousel-card-wrapper .carousel .card .card-text {
        font-size: 18px;
    }
    .carousel-card-wrapper .carousel .card .card-title {
        font-size: 24px;
        line-height: 28px;
    }
    .carousel-card-wrapper .card .card-content-desc {
        font-size: 20px;
    }
}

@media only screen and (min-width:1024px) {
    .carousel-container {
        margin-top: 140px;
    }
    .carousel-wrapper .carousel .carousel-cell{
        height: auto;
        padding: 5px;
        margin: 0px;
        min-width: 150px;
    }
    .carousel-wrapper .carousel .carousel-cell img{
       max-height: 78px;
    }
    .carousel-wrapper .carousel .flickity-viewport .flickity-slider {
        margin-left: -420px;
    }
    .carousel-card-container{
        margin-top: 150px;
    }
    .carousel-card-wrapper .carousel .flickity-viewport .flickity-slider{
        margin-left: -270px;
    }
    .carousel-card-wrapper .carousel .carousel-cell {
        width: 420px;
        height: 500px;
        contain: content;
    }
    .carousel-card-container .heading3 {
        font-size: 36px;
    }
}

h6 a{
    text-decoration-line: none;
}

.style1 {}
